<div class="container-fluid full-page search" data-autoscroll="false">
  <div class="search-panel">
    <div class="facets-sidebar">
      <uib-tabset>
        <uib-tab heading="{{ 'Cases' | translate }}" active="true" id="participants-facets-tab">
          <div class="facet-section panel-default">
            <div class="list-group">
              <add-custom-facets-panel
                 aggregations="sc.participants.aggregations"
                 data-doc-type="cases">
              </add-custom-facets-panel>
              <facets-section facets-config="sc.SearchTableParticipantsModel.facets"
                              doctype="cases"
                              aggregations="sc.participants.aggregations">
              </facets-section>
            </div>
          </div>
        </uib-tab>
        <uib-tab heading="{{ 'Files' | translate }}" id="files-facets-tab">
          <div class="facet-section panel-default">
            <div class="list-group">
              <add-custom-facets-panel
                 aggregations="sc.files.aggregations"
                 data-doc-type="files">
              </add-custom-facets-panel>
              <facets-section doctype="files"
                              aggregations="sc.files.aggregations">
              </facets-section>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
    <div class="search-content">
      <div class="alert alert-info clearfix">
        <div class="col-sm-10">
          <current-filters></current-filters>
          <span data-ng-if="!cfc.currentFilters.length" style="line-height: 3.4rem">
            <span data-translate>
              <i class="fa fa-long-arrow-left"></i> Start searching by selecting a facet
            </span>
          </span>
        </div>
      </div>

      <div class="alert alert-info clearfix">
        <div class="spacing-left">
          <add-to-cart-all-button data-size="{{ sc.files.pagination.total }}"></add-to-cart-all-button>
          <download-manifest-button
            classes="btn btn-primary"
            data-icon="fa-download"
            data-copy="Download Manifest"
            data-dlcopy="Downloading"
            data-size="sc.files.pagination.total">
          </download-manifest-button>
        </div>
      </div>

      <div class="pane-section"
           data-ng-show="sc.SearchState.tabs.files.active">
        <div data-ng-include="'search/templates/search.files.html'"></div>
      </div>
    </div>
  </div>
</div>
