
<header id="gdc-header" class="container-fluid navbar navbar-default navbar-static-top" role="banner">
    <div class="row legacy-header" style="padding: 15px 0;">
        <div class="col-md-9">
            <div>
                <a class="navbar-brand" data-ui-sref="search.files" data-translate tabindex="0">GDC Legacy Archive</a>
            </div>
            <div style="font-size: 1.1rem">
                The legacy data is the original data that uses the old genome build hg19 as produced by the original submitter. The legacy data is not actively being updated in any way. Users should migrate to the harmonized data.<br />Please visit the <a href="https://gdc-portal.nci.nih.gov/">GDC Data Portal</a>.
            </div>
        </div>
        <div class="col-md-3">
            <a class="gdc-data-portal-brand" href="https://gdc-portal.nci.nih.gov/" data-translate tabindex="1">
                <div><i class="gdc-data-portal-icon">GDC Data Portal</i></div>
                <div>Launch the<br /><strong>GDC Data Portal</strong></div>
            </a>
        </div>
    </div>
    <div class="row">
    <nav class="navbar-collapse navbar-responsive-collapse"
         role="navigation" 
         aria-label="{{ 'Site Navigation' | translate }}">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <ul class="nav navbar-nav" style="float:none;width: 205px;margin:0 auto">
                    <li data-ng-class="{ active: hc.$state.includes('search') || hc.$state.includes('query') }"
                        id="header-data">
                    <a ui-sref="search.files" tabindex="0"><i class="fa fa-database"></i>
                        <span data-translate>Files</span>
                    </a>
                    </li>
                    <li ui-sref-active="active" id="header-annotations">
                    <a ui-sref="annotations" tabindex="0"><i class="fa fa-align-left"></i>
                        <span data-translate>Annotations</span>
                    </a>
                    </li>
                </ul>
            </div>
            <div class=" col-md-4">
                <ul class="nav navbar-nav navbar-right">
                <li data-uib-dropdown>
                <a data-uib-dropdown-toggle class="dropdown-toggle" aria-expanded="false">
                    <i class="icon-gdc-apps-menu"></i>
                    <span data-translate>GDC Apps</span>
                </a>
                <div data-uib-dropdown-menu class="dropdown-menu gdc-apps-menu-container" role="menu">
                <table class="gdc-apps-menu-grid">
                    <tbody>
                    <tr>
                    <td>
                        <a href="#" title="Data Portal">
                            <span class="icon icon-gdc-data-portal">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span>
                            </span>
                        <p>Data Portal</p>
                        </a>
                    </td>
                    <td>
                        <a href="https://gdc.nci.nih.gov/access-data/gdc-data-transfer-tool" title="GDC Data Transfer Tool" target="_blank">
                            <span class="icon icon-gdc-data-transer-tool">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span>
                            </span>
                        <p>Data Transfer Tool</p>
                        </a>
                    </td>
                    </tr>
                    <tr>
                    <td>
                        <a href="https://gdc.nci.nih.gov/developers/gdc-application-programming-interface-api" title="GDC API" target="_blank">
                            <span class="icon icon-gdc-portal-api">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
                            </span>
                        <p>GDC API</p>
                        </a>
                    </td>
                    <td>
                        <a href="https://gdc-portal.nci.nih.gov/submission/" title="GDC Submission Portal" target="_blank">
                            <span class="icon icon-gdc-submission-portal">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
                            </span>
                        <p>Submission Portal</p>
                        </a>
                    </td>
                    </tr>
                    <tr>
                    <td>
                        <a href="https://gdc-docs.nci.nih.gov/" title="GDC Docs" target="_blank">
                        <span class="icon icon-gdc-docs">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span>
                        </span>
                        <p>Docs</p>
                        </a>
                    </td>
                    <td>
                        <a href="https://gdc.nci.nih.gov/" title="GDC Website" target="_blank">
                        <span class="icon icon-gdc-website">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span>
                        </span>
                        <p>Website</p>
                        </a>
                    </td>
                    </tr>
                    <tr>
                    <td>
                        <a href="" title="GDC Legacy Archive" target="_blank"  class="active">
                        <span class="icon icon-gdc-legacy-archive">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
                            </span>
                        <p>Legacy Archive</p>
                        </a>
                    </td>
                    <td>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
                </div>

                </li>
                <li data-ng-if="!hc.UserService.currentUser" id="header-login">
                <a login-button tabindex="0">
                    <i class="fa fa-sign-in"></i>
                    <span data-translate>Login</span>
                </a>
                </li>
                <li data-ng-if="hc.UserService.currentUser">
                <ul class="nav navbar-nav">
                    <li class="btn-group" data-uib-dropdown>
                    <a href="" class="dropdown-toggle" data-uib-dropdown-toggle aria-expanded="false">
                        {{ hc.UserService.currentUser.username }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li id="header-token">
                        <a data-ng-click="hc.getToken()">
                            <i class="fa fa-file-zip-o stock-icon"></i>
                            <span data-translate>Download Token</span>
                        </a>
                        </li>
                        <li id="header-logout">
                        <a logout-button data-redirect="logout">
                            <i class="fa fa-sign-out stock-icon"></i>
                            <span data-translate>Logout</span>
                        </a>
                        </li>
                    </ul>
                    </li>
                </ul>
                </li>
                <li ui-sref-active="active" class="nav-cart">
                <a ui-sref="cart" tabindex="0">
                    <i class="fa fa-shopping-cart"></i>
                    <span data-translate>Cart</span>
                    <span class="label label-primary">{{ hc.getNumCartItems() }}</span>
                </a>
                </li>
            </ul>
        </div>
      </div>
    </nav>
    </div>
</header>