<header id="gdc-header" class="navbar navbar-default navbar-static-top" role="banner">
    <banner
      data-ng-repeat="n in notifications track by n.id"
      data-notification-id="{{n.id}}"
      data-message="{{n.message}}"
      data-level="{{n.level}}"
      data-dismissible="n.dismissible"
    ></banner>
    <div class="row legacy-header" style="padding: 15px;">
        <div class="col-md-9">
            <div>
                <a class="navbar-brand" data-ui-sref="search.files" data-translate tabindex="0">GDC Legacy Archive</a>
            </div>
            <div style="font-size: 1.1rem">
                The legacy data is the original data that uses the old genome build as produced by the original submitter. The legacy data is not actively being updated in any way. Users should migrate to the harmonized data.<br />Please visit the <a href="https://gdc-portal.nci.nih.gov/">GDC Data Portal</a>.
            </div>
        </div>
        <div class="col-md-3">
            <a class="gdc-data-portal-brand" href="https://portal.gdc.cancer.gov/" data-translate tabindex="1">
                <div><i class="gdc-data-portal-icon">GDC Data Portal</i></div>
                <div>Launch the<br /><strong>GDC Data Portal</strong></div>
            </a>
        </div>
    </div>
    <div class="row">
    <nav class="navbar-collapse navbar-responsive-collapse"
         role="navigation"
         aria-label="{{ 'Site Navigation' | translate }}">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <ul class="nav navbar-nav" style="float:none;width: 205px;margin:0 auto">
                    <li data-ng-class="{ active: hc.$state.includes('search') || hc.$state.includes('query') }"
                        id="header-data">
                    <a ui-sref="search.files" tabindex="0"><i class="fa fa-database"></i>
                        <span data-translate>Files</span>
                    </a>
                    </li>
                    <li ui-sref-active="active" id="header-annotations">
                    <a ui-sref="annotations" tabindex="0"><i class="fa fa-align-left"></i>
                        <span data-translate>Annotations</span>
                    </a>
                    </li>
                </ul>
            </div>
            <div class=" col-md-4">
                <ul class="nav navbar-nav navbar-right">
                <li data-ng-if="!hc.UserService.currentUser" id="header-login">
                <a login-button tabindex="0">
                    <i class="fa fa-sign-in"></i>
                    <span data-translate>Login</span>
                </a>
                </li>
                <li data-ng-if="hc.UserService.currentUser">
                <ul class="nav navbar-nav">
                    <li class="btn-group" data-uib-dropdown>
                    <a href="" class="dropdown-toggle" data-uib-dropdown-toggle aria-expanded="false">
                        {{ hc.UserService.currentUser.username }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li id="header-token">
                        <a data-ng-click="hc.getToken()">
                            <i class="fa fa-file-zip-o stock-icon"></i>
                            <span data-translate>Download Token</span>
                        </a>
                        </li>
                        <li id="header-logout">
                        <a logout-button data-redirect="logout">
                            <i class="fa fa-sign-out stock-icon"></i>
                            <span data-translate>Logout</span>
                        </a>
                        </li>
                    </ul>
                    </li>
                </ul>
                </li>
                <li ui-sref-active="active" class="nav-cart">
                <a ui-sref="cart" tabindex="0">
                    <i class="fa fa-shopping-cart"></i>
                    <span data-translate>Cart</span>
                    <span class="label label-primary">{{ hc.getNumCartItems() }}</span>
                </a>
                </li>
            </ul>
        </div>
      </div>
    </nav>
    </div>
</header>
